# Gradle
.gradle/
build/

# Local configuration
local.properties

# IDE
.idea/
*.iml
.vscode/

# Signing / secrets
keystore/
*.jks

# OS
.DS_Store

# Android
captures/
.externalNativeBuild/
.cxx/
*.keystore

# Build outputs
*.apk
